h1 {
  color: black;
  text-align: center;
  font-family: Georgia;
  padding: 30px;
  background-color: #b9936c;
}
* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background: #b9936c;
}
.container {
  width: 900px;
  height: 1220px;
  margin: auto;
  background: white;
  display: block;
  margin-bottom: 30px;
}
.gallery {
  padding: 5px 5px 0 5px;
  width: 900px;
  display: block;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3),
    10px 10px 15px rgba(0, 0, 0, 0.3);
}
img {
  width: 294px;
  height: 400px;
  object-fit: cover;
}
.header {
  width: 100%;
  height: 70px;
  background-color: #b3a492;
}
.header ul {
  width: auto;
  float: right;
}
.header li {
  display: inline-block;
  padding: 25px 30px;
}
.header a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: Georgia;
  font-size: 15px;
  letter-spacing: 2px;
}
li:hover {
  background-color: #9d8e79;
  transition: 0.5s;
}
.link {
  text-decoration: none;
  color: black;
}
h3 {
  padding-top: 10px;
}
p {
  color: black;
  text-align: center;
  text-indent: auto;
  font-family: Garamond;
  font-size: 123%;
  padding: 15px;
}
footer {
  text-align: center;
  position: bottom;
  background-color: #ada397;
  color: black;
}
.cover {
  color: white;
  left: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #b3a492;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 25px;
}
